<!DOCTYPE html>
<html lang="en">

<head>
    <title>Finder</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"> {% load static %}
    <link rel="stylesheet" href="{% static 'register/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">People counter</a>
              <div id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'cam' %}">webcam</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'selectfile' %}">select from file</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'filter' %}">filter</a>
                  </li>
                </ul>
              </div>
            </nav>

            <div class="col-4">
                <div class="card">
                    <h4 class="card-header text-center">Finder</h4>
                    <div class="card-block">
                        <form method="post" action="/filter">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Date</label>
                                <input name="date" type="date" class="form-control">

                            </div>
                            <div class="form-group">
                                <label>From Time</label>
                                <input name="start time" type="time" value = "00:00" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Till Time</label>
                                <input name="end time" type="time"  value = "00:00" class="form-control">
                            </div>
                            <div class="mx-auto text-center">
                                <input type="submit" value="Enter" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </script>
</body>

</html>